@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  /*background: linear-gradient(to right, #FB964B,#FE4C30);*/
  height: 80px;
  display: flex;
  padding: 5px;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  border-radius: 3px;
}

.logo img {
  height: 100%;
  margin-left: 5px;
  border-radius: 7px;
}
.lists {
  display: flex;
  width: 50%;
}
.lists ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
/*///////////////////////////////////////////////////*/

.lists li {
  background: green;
}
.lists li:not(:last-child) {
  background: hotpink;
  padding: 30px;
}

a {
  text-decoration: none;
  background: rgb(245, 239, 239);
  border-radius: 20px;
  padding: 10px 30px;
  margin: 5px;
  color: #fc8a47;
}
a:hover {
  background: linear-gradient(to right, #fb964b, #fe4c30);
  color: white;
}

#second-section .container {
  background: pink;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

#second-section .container .left-div {
  display: flex;
  width: 50%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  /* background: #FE4C30;*/
}

h1 {
  text-transform: capitalize;
  font-size: 40px;
  color: #575757;
}
span {
  color: #fc984c;
}
p {
  margin: 30px 0;
  color: #949494;
  font-size: 18px;
}

#second-section .container .left-div a {
  margin: 0;
  width: fit-content;
}

#second-section .container .right-div {
  display: flex;
  flex-direction: column;
  /*background: green;*/
  justify-content: center;
  width: 50%;
  padding: 30px;
}

#second-section .right-div img {
  width: 100%;
}
#about {
  background: url(/img/shapes/7.png) no-repeat;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
#about .container .Left-div {
  height: 100%;
}

#about .Left-div img {
  height: 100%;
}
